<h1>Skapa applikation</h1>

<%= if @app.errors.any? %>
    <div>
        <ul>
            <%= @app.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @app do|a| %>
    <div>
        <%= a.label :app_name %>
        <%= a.text_field :app_name %>
    </div>
<% end %>
